:root {
  font-family: 'Roboto', sans-serif;
  color: $_main_color;
  background: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
    padding-right: 60px;
    padding-left: 60px;
  }
}

.section {
  scroll-margin-top: 60px;

  @include media(desktop) {
    scroll-margin-top: 100px;
  }
}

.section-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  @include media(desktop) {
    justify-content: center;
    gap: 16px;
    margin-bottom: 32px;
  }
}

.section-title-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #00b4cc;
  padding: 2px;

  @include media(desktop) {
  }
}

.section-title-arrow {
  min-width: 28px;
  min-height: 62px;

  @include media(desktop) {
    min-width: 37px;
    min-height: 86px;
  }
}

.section-top-title {
  background: linear-gradient(90deg, #00b4cc 0%, #fff 100%);
  padding: 9px 11px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #181818;

  @include media(desktop) {
    font-size: 48px;
  }
}

.section-bottom-title {
  padding: 9px 11px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    font-size: 48px;
  }
}

.secondary-arrow {
  min-width: 32px;
  min-height: 40px;
}
