.about-section {
}

.about-section-wrapper {
  padding-top: 32px;
  padding-bottom: 16px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 48px;
    max-width: 1440px;
    background-image: url(../img/about/about-bg-top-line-desk.png),
      url(../img/about/about-bg-bottom-line-desk.png),
      url(../img/about/about-bg-top-line-desk.png),
      url(../img/about/about-bg-bottom-line-desk.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: top 48px left, bottom 57px left, top 48px right,
      bottom 57px right;
    background-size: auto, auto, auto, auto;
  }
}

.about-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 24px;
    text-align: center;
    max-width: 872px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about-subtitle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.about-subtitle {
  border-bottom: 1px solid #fff;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #fff;
  width: 100%;
  max-width: 183px;
}

.about-swiper-container {
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1096px;
  }
}

.about-swiper-container.show {
  visibility: visible;
}

.about-swiper-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 100%;
    min-height: 375px;
    position: relative;
  }
}

.about-slide {
  max-width: 343px;
  min-height: 234px;
  display: flex !important;
  flex-direction: column;
  align-items: start;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  &:nth-child(1) {
    background-image: url(../img/about/about-contour-1-mob.png);
    min-height: 219px;
    padding-top: 47px;
  }

  &:nth-child(2) {
    background-image: url(../img/about/about-contour-2-mob.png);
    min-height: 234px;
    padding-top: 61px;

    .about-slide-title-wrapper {
      transform: translateX(-8px);
    }
  }

  &:nth-child(3) {
    background-image: url(../img/about/about-contour-3-mob.png);
    min-height: 211px;
    padding-top: 53px;
  }

  &:nth-child(4) {
    background-image: url(../img/about/about-contour-4-mob.png);
    min-height: 217px;
    padding-top: 55px;
  }

  @include media(desktop) {
    &:nth-child(1) {
      width: 293px !important;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:nth-child(2) {
      width: 333px !important;
      position: absolute;
      top: 130px;
      left: 240px;

      .about-slide-title-wrapper {
        margin-left: 0;
      }
    }

    &:nth-child(3) {
      width: 293px !important;
      position: absolute;
      top: 14px;
      right: 226px;
    }

    &:nth-child(4) {
      width: 301px !important;
      position: absolute;
      top: 157px;
      right: 0;
    }
  }
}

.about-slide-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.about-slide-top-title {
  background: #00b4cc;
  padding: 6px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #181818;
}

.about-slide-bottom-title {
  border: 1px solid #00b4cc;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}

.about-slide-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
  max-width: 245px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 24px;

  @include media(desktop) {
    display: none;
  }
}

.about-dot {
  width: 20px;
  height: 3px;
  transition: transform 0.3s ease-in-out;
  border-radius: 50px;
  background-color: #00b4cc;
  cursor: pointer;
}

.about-dot.active {
  width: 36px;
  height: 5px;
}

.about-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;

  @include media(desktop) {
    max-width: 895px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
  }
}

.about-bottom-arrow {
  min-width: 28px;
  min-height: 105px;

  @include media(desktop) {
    min-width: 170px;
    min-height: 37px;
  }
}

.about-bottom-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about-bottom-top-text {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #fff;
  max-width: 224px;

  @include media(desktop) {
    max-width: max-content;
  }
}

.about-bottom-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;
  max-width: 224px;

  @include media(desktop) {
    font-size: 24px;
    max-width: 410px;
  }
}
