.contact-section {
}

.contact-section-wrapper {
  padding-top: 32px;
  padding-bottom: 16px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 48px;
    max-width: 1440px;
    background-image: url(../img/contact/contact-bg-line-desk.png),
      url(../img/contact/contact-bg-line-desk.png),
      url(../img/contact/contact-contours-desk.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top 72px left, top 72px right, top 15px right 60px;
    background-size: auto, auto, auto;
  }
}

.contact-title-text-wrapper {
  flex-direction: column;
  width: 100%;
  max-width: 231px;

  @include media(desktop) {
    flex-direction: row;
    max-width: max-content;
  }
}

.contact-top-title {
  width: 100%;

  @include media(desktop) {
    width: max-content;
  }
}

.contact-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 24px;
    text-align: center;
    max-width: 872px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
  }
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-arrow {
  min-width: 68px;
  min-height: 31px;

  @include media(desktop) {
    max-width: 170px;
    min-height: 37px;
  }
}

.contact-item-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  max-width: 154px;

  @include media(desktop) {
    gap: 12px;
    max-width: 280px;
  }
}

.contact-item-text {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    font-size: 24px;
  }
}

.contact-item-link {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    font-size: 24px;
  }
}
