.faq-section {
}

.faq-section-wrapper {
  padding-top: 32px;
  padding-bottom: 16px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 100px;
    max-width: 1440px;
    background-image: url(../img/faq/faq-bg-line-desk.png),
      url(../img/faq/faq-bg-line-desk.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top 72px left, top 72px right;
    background-size: auto, auto;
  }
}

.faq-title-text-wrapper {
  flex-direction: column;
  width: 100%;
  max-width: 231px;

  @include media(desktop) {
    flex-direction: row;
    max-width: max-content;
  }
}

.faq-top-title {
  width: 100%;

  @include media(desktop) {
    width: max-content;
  }
}

.faq-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 24px;
    text-align: center;
    max-width: 872px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
  }
}

.faq-swiper-container {
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1181px;
  }
}

.faq-swiper-container.show {
  visibility: visible;
}

.faq-swiper-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 17px;
    width: 100%;
  }
}

.faq-list-item {
  max-width: 343px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 222px;
  }
}

.faq-top-arrows {
}

.faq-top-text-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.faq-btn-text {
  background: linear-gradient(90deg, #00b4cc 0%, #fff 100%);
  border-radius: 4px;
  padding: 24px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #181818;
  width: 100%;
  min-height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    padding: 10px 7px;
  }
}

.faq-bottom-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
    max-width: 207px;
    margin-left: auto;
    margin-right: auto;
  }
}

.faq-dot {
  width: 20px;
  height: 3px;
  transition: transform 0.3s ease-in-out;
  border-radius: 50px;
  background-color: #00b4cc;
  cursor: pointer;
}

.faq-dot.active {
  width: 36px;
  height: 5px;
}

.is-visible {
  margin-top: 20px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-bottom-arrows {
  display: none;
}

.faq-list-item.faq-open .faq-btn-text {
}
