.faq-section {
}

.faq-bg-wrapper {
  padding-top: 56px;
  padding-bottom: 78px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/faq/faq-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 56px;
    padding-bottom: 134px;
    max-width: 1440px;
    background-image: url(../img/faq/faq-bg-desk.png);
  }
}

.faq-container {
}

.faq-title {
}

.faq-top-text {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 22px;
    margin-bottom: 80px;
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    gap: 16px;
  }
}

.faq-list-item {
  background: #fff;
  border-radius: 36px;
  border: 1px solid #ff6a00;
  border-radius: 12px;
  padding: 14px 16px;
  max-width: 346px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    padding: 24px;
    max-width: 842px;
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.faq-toggle-symbol {
  background: #ff6a00;
  border-radius: 100px;
  min-width: 44px;
  height: 44px;

  @include media(desktop) {
    min-width: 36px;
    height: 36px;
  }
}

.faq-icon {
}

.faq-btn-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #361b14;
  max-width: 256px;
  text-align: left;

  @include media(desktop) {
    max-width: max-content;
  }
}

.faq-bottom-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
  }
}

.is-visible {
  margin-top: 24px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
    max-height: 100px;
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open {
  background: rgba(255, 106, 0, 0.3);
  border: 3px solid #ff6a00;
}

.faq-list-item.faq-open .faq-btn-text {
  color: #fff;
}
