.features-section {
}

.features-section-wrapper {
  padding-top: 32px;
  padding-bottom: 16px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 48px;
    max-width: 1440px;
    background-image: url(../img/features/features-bg-line-desk.png),
      url(../img/features/features-bg-line-desk.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top 72px left, top 72px right;
    background-size: auto, auto;
  }
}

.features-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 24px;
    text-align: center;
    max-width: 872px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
  }
}

.features-swiper-container {
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1206px;
  }
}

.features-swiper-container.show {
  visibility: visible;
}

.features-swiper-wrapper {
  @include media(desktop) {
  }
}

.features-swiper-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 40px;
    width: 100%;
  }
}

.features-slide {
  max-width: 343px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include media(desktop) {
    max-width: 209px;
  }
}

.features-arrows {
}

.features-slide-title {
  background: linear-gradient(90deg, #00b4cc 0%, #fff 100%);
  border-radius: 4px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #181818;
  width: 100%;

  @include media(desktop) {
    font-size: 24px;
  }
}

.features-slide-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    font-size: 20px;
    max-width: 185px;
  }
}

.features-dot {
  width: 20px;
  height: 3px;
  transition: transform 0.3s ease-in-out;
  border-radius: 50px;
  background-color: #00b4cc;
  cursor: pointer;
}

.features-dot.active {
  width: 36px;
  height: 5px;
}
