.footer {
  @include media(desktop) {
  }
}

.footer-top-wrapper {
  padding-top: 32px;
  padding-bottom: 28px;

  @include media(desktop) {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

.footer-container {
}

.footer-top-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

.footer-top-text {
  display: none;

  @include media(desktop) {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    width: 312px;
  }
}

.footer-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-top-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @include media(desktop) {
    gap: 19px;
  }
}

.footer-top-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;

  @include media(desktop) {
    font-size: 20px;
    align-items: start;
  }
}

.footer-middle-wrapper {
  background: linear-gradient(90deg, #00b4cc 0%, #fff 100%);
  padding-top: 18px;
  padding-bottom: 18px;

  @include media(desktop) {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.footer-nav {
  @include media(desktop) {
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 0;
  }
}

.footer-list-item {
}

.footer-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #181818;

  &:hover {
  }

  @include media(desktop) {
    font-size: 24px;
  }
}

.footer-span {
  display: none;

  @include media(desktop) {
    display: inline;
  }
}

.footer-bottom-wrapper {
  padding: 16px 0;

  @include media(desktop) {
    padding: 14px 0;
  }
}

.footer-bottom-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;
  max-width: 212px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    display: none;
  }
}
