.games-section {
}

.games-section-wrapper {
  padding-top: 32px;
  padding-bottom: 16px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 191px;
    max-width: 1440px;
    background-image: url(../img/games/games-bg-top-line-desk.png),
      url(../img/games/games-bg-bottom-line-desk.png),
      url(../img/games/games-bg-top-line-desk.png),
      url(../img/games/games-bg-bottom-line-desk.png),
      url(../img/games/games-contours-desk.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: top 83px left, bottom 84px left, top 83px right,
      bottom 84px right, top 313px center;
    background-size: auto, auto, auto, auto, auto;
  }
}

.games-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 24px;
    text-align: center;
    max-width: 872px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
  }
}

.games-swiper-container {
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1144px;
  }
}

.games-swiper-container.show {
  visibility: visible;
}

.games-swiper-wrapper {
  @include media(desktop) {
  }
}

.games-swiper-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 44px;
    width: 100%;
  }
}

.games-slide {
  max-width: 343px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include media(desktop) {
    max-width: 352px;
    gap: 32px;

    &:nth-child(2) {
      position: relative;
      top: 71px;
    }

    &:nth-child(3) {
      position: relative;
      top: 144px;
    }
  }
}

.games-slide-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.games-slide-title {
  border-bottom: 1px solid #fff;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

.games-slide-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  @include media(desktop) {
    gap: 16px;
  }
}

.games-slide-subtitle-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.games-slide-subtitle {
  background: #00b4cc;
  border-radius: 4px;
  padding: 6px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #181818;

  @include media(desktop) {
    font-size: 20px;
  }
}

.games-slide-subtitle-text {
  border: 1px solid #00b4cc;
  padding: 6px;
  width: 100%;
  max-width: 229px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.games-slide-bottom-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  @include media(desktop) {
    gap: 16px;
  }
}

.games-slide-arrow-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.games-horizontal-arrow {
  min-width: 100px;
  min-height: 37px;
}

.games-arrow-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  max-width: 216px;

  @include media(desktop) {
    max-width: 225px;
  }
}

.games-dot {
  width: 20px;
  height: 3px;
  transition: transform 0.3s ease-in-out;
  border-radius: 50px;
  background-color: #00b4cc;
  cursor: pointer;
}

.games-dot.active {
  width: 36px;
  height: 5px;
}
