.header {
  background: #181818;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
  }
}

.header-bg-wrapper {
  border: 2px solid #00b4cc;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.header-container {
  @include media(desktop) {
    padding-right: 0;
  }
}

.nav {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #00b4cc 0%, #fff 100%);

  @include media(desktop) {
  }
}

.header-logo-wrapper {
  background: #181818;
  padding: 5px 11px 5px 0;
  flex-shrink: 0;

  @include media(desktop) {
    padding: 28px 28px 28px 0;
    display: flex;
    align-items: center;
    gap: 28px;
  }
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.header-arrow {
  display: none;

  @include media(desktop) {
    display: block;
  }
}

.header-content-wrapper {
  padding: 0 16px;
  flex-grow: 1;

  @include media(desktop) {
    padding: 21px 46px 21px 32px;
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    width: 100%;
  }
}

.nav-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:not(:last-child) {
    &::after {
      content: '|';
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 24px;
      color: #181818;
      position: absolute;
      right: -10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.nav-list-link {
  @include media(desktop) {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #181818;
    transition: all 0.3s ease-in-out;
    position: relative;

    &:hover,
    &.active {
      color: #fff;
    }
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
  fill: none;
  stroke: #181818;
}

.close-icon {
  fill: none;
  stroke: #181818;
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;
  margin-left: auto;

  @include media(desktop) {
    display: none;
  }
}
