.hero-section {
  @include media(desktop) {
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 94px;
  padding-bottom: 16px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.png),
    url(../img/hero/hero-lines-mob.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top 226px center, top 211px center;
  background-size: auto, auto;

  @include media(desktop) {
    padding-top: 148px;
    padding-bottom: 136px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.png),
      url(../img/hero/hero-left-lines-desk.png),
      url(../img/hero/hero-bg-line-desk.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top 200px right 95px, bottom 33px left 30px,
      bottom 48px right;
    background-size: auto, auto, auto;
  }
}

.hero-title-wrapper {
  margin-bottom: 328px;

  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 34px;
  }
}

.hero-title-arrow {
  display: none;

  @include media(desktop) {
    display: block;
    min-height: 86px;
    min-width: 37px;
  }
}

.hero-title-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include media(desktop) {
    border: 2px solid #00b4cc;
    flex-direction: row;
    gap: 0;
  }
}

.hero-top-title {
  background: linear-gradient(90deg, #00b4cc 0%, #fff 100%);
  padding-top: 9px;
  padding-bottom: 9px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #181818;

  @include media(desktop) {
    font-size: 48px;
    padding: 13px 4px;
  }
}

.hero-title-span {
  display: none;

  @include media(desktop) {
    display: inline;
  }
}

.hero-bottom-title {
  border: 2px solid #00b4cc;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    border: none;
    font-size: 48px;
    padding: 13px 4px;
  }
}

.hero-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 24px;
    max-width: 497px;
    margin-left: 63px;
    margin-bottom: 56px;
  }
}

.hero-cta-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    justify-content: start;
  }
}

.hero-arrow {
  min-height: 105px;
  min-width: 28px;

  @include media(desktop) {
    min-height: 86px;
    min-width: 37px;
  }
}

.hero-cta-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  @include media(desktop) {
    border: 2px solid #00b4cc;
    flex-direction: row;
    gap: 0;
    width: max-content;
  }
}

.hero-cta-top-text {
  border: 2px solid #00b4cc;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    border: none;
    padding: 19px 4px;
    font-size: 32px;
  }
}

.hero-cta-top-text-span {
  @include media(desktop) {
    display: none;
  }
}

.hero-cta-bottom-text {
  background: linear-gradient(90deg, #00b4cc 0%, #fff 100%);
  padding-top: 9px;
  padding-bottom: 9px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #181818;

  @include media(desktop) {
    padding: 19px 10px;
    font-size: 32px;
  }
}

.hero-cta-bottom-text-span {
  display: none;

  @include media(desktop) {
    display: inline;
  }
}
