.process-section {
}

.process-section-wrapper {
  padding-top: 32px;
  padding-bottom: 16px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 48px;
    max-width: 1440px;
    background-image: url(../../img/process/process-bg-top-line-desk.png),
      url(../../img/process/process-bg-bottom-line-desk.png),
      url(../../img/process/process-bg-top-line-desk.png),
      url(../../img/process/process-bg-bottom-line-desk.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: top 83px left, bottom 84px left, top 83px right,
      bottom 84px right;
    background-size: auto, auto, auto, auto;
  }
}

.process-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 24px;
    text-align: center;
    max-width: 872px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
  }
}

.process-swiper-container {
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1240px;
    overflow: hidden;
  }
}

.process-swiper-container.show {
  visibility: visible;
}

.process-swiper-wrapper {
  @include media(desktop) {
  }
}

.process-swiper-wrapper {
}

.process-slide {
  max-width: 343px;
  display: flex !important;
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
    padding-top: 76px;
    max-width: 414px;
    min-height: 438px;
    background-image: url(../../img/process/process-slide-1-lines-desk.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto;

    &:nth-child(2) {
      background-image: url(../../img/process/process-slide-2-lines-desk.png);
    }

    &:nth-child(3) {
      background-image: url(../../img/process/process-slide-3-lines-desk.png);
    }

    &:nth-child(4) {
      background-image: url(../../img/process/process-slide-4-lines-desk.png);
    }

    &:nth-child(5) {
      background-image: url(../../img/process/process-slide-5-lines-desk.png);
    }
  }
}

.process-top-arrows {
  margin-bottom: 12px;
}

.process-slide-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;

  @include media(desktop) {
    font-size: 24px;
  }
}

.process-bottom-arrows {
  margin-bottom: 20px;
}

.process-slide-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    font-size: 20px;
    max-width: 285px;
  }
}

.process-dots {
  @include media(desktop) {
    display: flex;
    gap: 26px;
  }
}

.process-dot {
  width: 20px;
  height: 3px;
  transition: transform 0.3s ease-in-out;
  border-radius: 50px;
  background-color: #00b4cc;
  cursor: pointer;

  @include media(desktop) {
    width: 200px;
    height: 4px;
  }
}

.process-dot.active {
  width: 36px;
  height: 5px;

  @include media(desktop) {
    width: 870px;
    height: 12px;
  }
}

.controls {
  display: none;

  @include media(desktop) {
    max-width: 1096px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }
}

.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;

  &:active {
    transform: scale(0.9);
  }

  &[disabled] {
    opacity: 0;
    cursor: not-allowed;

    &:hover {
      transform: none;
    }
  }
}

.arrow-icon {
  fill: none;
}
