<section class="about-section section" id="about">
  <div class="container about-container">
    <div class="about-section-wrapper">
      <div class="about-title-wrapper">
        <picture>
          <source
            srcset="./img/common/title-arrow-desk.png"
            media="(min-width: 1440px)"
            width="37"
            height="86" />
          <source
            srcset="./img/common/title-arrow-mob.png"
            width="28"
            height="62" />
          <img
            class="about-title-arrow"
            src="./img/common/title-arrow-mob.png"
            alt="Arrow"
            width="28"
            height="62"
        /></picture>
        <div class="about-title-text-wrapper">
          <h2 class="about-top-title">Who</h2>
          <h2 class="about-bottom-title">We Are</h2>
        </div>
        <picture>
          <source
            srcset="./img/common/title-arrow-desk.png"
            media="(min-width: 1440px)"
            width="37"
            height="86" />
          <source
            srcset="./img/common/title-arrow-mob.png"
            width="28"
            height="62" />
          <img
            class="about-title-arrow"
            src="./img/common/title-arrow-mob.png"
            alt="Arrow"
            width="28"
            height="62"
        /></picture>
      </div>
      <p class="about-top-text">
        Founded by a team of game designers, programmers, and storytellers,
        LogicVia Games is driven by a singular vision: to redefine the way
        stories and gameplay intertwine. Our approach to game development is not
        just technical — it’s artistic. We believe in blending storytelling,
        cutting-edge tech, and innovative mechanics to create interactive worlds
        that players can lose themselves in.
      </p>
      <p class="about-top-text">
        We build worlds where the player's decisions matter, where the gameplay
        evolves, and where every experience feels unique.
      </p>
      <div class="about-subtitle-wrapper">
        <img
          class="about-secondary-arrow"
          src="./img/common/secondary-arrow.png"
          alt="Arrow"
          width="32"
          height="41"
        />
        <p class="about-subtitle">We specialize in:</p>
        <img
          class="about-secondary-arrow"
          src="./img/common/secondary-arrow.png"
          alt="Arrow"
          width="32"
          height="41"
        />
      </div>
      <div class="about-swiper-container">
        <ul class="swiper-wrapper about-swiper-wrapper">
          <li class="swiper-slide about-slide">
            <div class="about-slide-title-wrapper">
              <h3 class="about-slide-top-title">Immersive</h3>
              <h3 class="about-slide-bottom-title">Storytelling</h3>
            </div>
            <p class="about-slide-text">
              Creating worlds that live and breathe around the player.
            </p>
          </li>
          <li class="swiper-slide about-slide">
            <div class="about-slide-title-wrapper">
              <h3 class="about-slide-top-title">Advanced Game</h3>
              <h3 class="about-slide-bottom-title">Mechanics</h3>
            </div>
            <p class="about-slide-text">
              Integrating new and innovative gameplay systems.
            </p>
          </li>
          <li class="swiper-slide about-slide">
            <div class="about-slide-title-wrapper">
              <h3 class="about-slide-top-title">Dynamic</h3>
              <h3 class="about-slide-bottom-title">Environments</h3>
            </div>
            <p class="about-slide-text">
              Games that evolve based on player actions.
            </p>
          </li>
          <li class="swiper-slide about-slide">
            <div class="about-slide-title-wrapper">
              <h3 class="about-slide-top-title">Multiplayer</h3>
              <h3 class="about-slide-bottom-title">Interactions</h3>
            </div>
            <p class="about-slide-text">
              Designing social features that enhance gameplay.
            </p>
          </li>
        </ul>
      </div>
      <div class="dots">
        <div class="about-dot active"></div>
        <div class="about-dot"></div>
        <div class="about-dot"></div>
        <div class="about-dot"></div>
      </div>
      <div class="about-bottom-wrapper">
        <picture>
          <source
            srcset="./img/about/about-left-arrow-desk.png"
            media="(min-width: 1440px)"
            width="170"
            height="37" />
          <source
            srcset="./img/about/about-arrow-mob.png"
            width="28"
            height="105" />
          <img
            class="about-bottom-arrow"
            src="./img/about/about-arrow-mob.png"
            alt="Arrow"
            width="28"
            height="105"
        /></picture>
        <div class="about-bottom-text-wrapper">
          <h2 class="about-bottom-top-text">
            Our Games are More Than Just Play
          </h2>
          <h2 class="about-bottom-bottom-text">
            They are experiences, challenges, and journeys.
          </h2>
        </div>
        <picture>
          <source
            srcset="./img/about/about-right-arrow-desk.png"
            media="(min-width: 1440px)"
            width="170"
            height="37" />
          <source
            srcset="./img/about/about-arrow-mob.png"
            width="28"
            height="105" />
          <img
            class="about-bottom-arrow"
            src="./img/about/about-arrow-mob.png"
            alt="Arrow"
            width="28"
            height="105"
        /></picture>
      </div>
    </div>
  </div>
</section>
