<section class="about-section section" id="about">
  <div class="about-section-wrapper">
    <div class="container about-container">
      <h2 class="about-title section-title">Who We Are</h2>
      <p class="about-top-text">
        At Clarado, our vision is to create deeply interactive worlds that offer
        players the chance to engage with the narrative in unique and meaningful
        ways. Whether you are building a character, making tough moral choices,
        or exploring an open world, we ensure that every aspect of our games
        serves the story.
      </p>
      <p class="about-top-text">
        Our team is a diverse group of designers, storytellers, and developers
        united by a passion for creating unforgettable gaming experiences. We
        blend the latest game technologies with the art of storytelling to craft
        experiences that resonate with our players.
      </p>
      <p class="about-subtitle">We specialize in:</p>
      <div class="about-swiper-container">
        <ul class="swiper-wrapper about-swiper-wrapper">
          <li class="swiper-slide about-slide">
            <img
              class="about-img"
              src="./img/about/about-world.png"
              alt="World"
              width="84"
              height="84"
              loading="lazy"
            />
            <div class="about-slide-text-wrapper">
              <p class="about-slide-title">Immersive Worlds</p>
              <p class="about-slide-text">
                Open-world environments where every corner holds a discovery.
              </p>
            </div>
          </li>
          <li class="swiper-slide about-slide">
            <img
              class="about-img"
              src="./img/about/about-book.png"
              alt="Book"
              width="84"
              height="84"
              loading="lazy"
            />
            <div class="about-slide-text-wrapper">
              <p class="about-slide-title">Engaging Narratives</p>
              <p class="about-slide-text">
                Meaningful stories where your choices matter.
              </p>
            </div>
          </li>
          <li class="swiper-slide about-slide">
            <img
              class="about-img"
              src="./img/about/about-sword.png"
              alt="Sword"
              width="85"
              height="85"
              loading="lazy"
            />
            <div class="about-slide-text-wrapper">
              <p class="about-slide-title">Complex Game Mechanics</p>
              <p class="about-slide-text">
                RPG elements, combat systems, and systems that feel alive and
                dynamic.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="dots">
        <div class="about-dot active"></div>
        <div class="about-dot"></div>
        <div class="about-dot"></div>
      </div>
    </div>
  </div>
</section>
