<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <h2 class="section-title contact-title">Get in Touch</h2>
      <p class="contact-top-text">
        For inquiries, feedback, or business opportunities, contact us directly.
      </p>
      <p class="contact-subtitle">Contact Info:</p>
      <div class="contact-link-wrapper">
        <a href="mailto:info@clarado.site" class="contact-link"
          >Email: info@clarado.site</a
        >
        <a href="tel:+18005551234" class="contact-link"
          >Phone: +1 (800) 555-1234</a
        >
        <a href="" class="contact-link">Live Chat: Available on the website</a>
      </div>
    </div>
  </div>
</section>
