<section class="contact-section section" id="contact">
  <div class="container contact-container">
    <div class="contact-section-wrapper">
      <div class="section-title-wrapper contact-title-wrapper">
        <picture>
          <source
            srcset="./img/common/title-arrow-desk.png"
            media="(min-width: 1440px)"
            width="37"
            height="86" />
          <source
            srcset="./img/common/title-arrow-mob.png"
            width="28"
            height="62" />
          <img
            class="section-title-arrow contact-title-arrow"
            src="./img/common/title-arrow-mob.png"
            alt="Arrow"
            width="28"
            height="62"
        /></picture>
        <div class="section-title-text-wrapper contact-title-text-wrapper">
          <h2 class="section-top-title contact-top-title">Get in Touch</h2>
          <h2 class="section-bottom-title contact-bottom-title">
            with LogicVia
          </h2>
        </div>
        <picture>
          <source
            srcset="./img/common/title-arrow-desk.png"
            media="(min-width: 1440px)"
            width="37"
            height="86" />
          <source
            srcset="./img/common/title-arrow-mob.png"
            width="28"
            height="62" />
          <img
            class="section-title-arrow contact-title-arrow"
            src="./img/common/title-arrow-mob.png"
            alt="Arrow"
            width="28"
            height="62"
        /></picture>
      </div>
      <p class="contact-top-text">
        Whether you have feedback, inquiries, or want to learn more about our
        games, we're always happy to hear from you!
      </p>
      <ul class="contact-list">
        <li class="contact-list-item">
          <picture>
            <source
              srcset="./img/contact/contact-left-arrow-desk.png"
              media="(min-width: 1440px)"
              width="170"
              height="37" />
            <source
              srcset="./img/contact/contact-left-arrow-mob.png"
              width="69"
              height="31" />
            <img
              class="contact-arrow"
              src="./img/contact/contact-left-arrow-mob.png"
              alt="Arrow"
              width="69"
              height="31"
          /></picture>
          <div class="contact-item-text-wrapper">
            <p class="contact-item-text">Email</p>
            <a class="contact-item-link" href="mailto:info@logicvia.site"
              >info@logicvia.site</a
            >
          </div>
          <picture>
            <source
              srcset="./img/contact/contact-right-arrow-desk.png"
              media="(min-width: 1440px)"
              width="170"
              height="37" />
            <source
              srcset="./img/contact/contact-right-arrow-mob.png"
              width="69"
              height="31" />
            <img
              class="contact-arrow"
              src="./img/contact/contact-right-arrow-mob.png"
              alt="Arrow"
              width="69"
              height="31"
          /></picture>
        </li>
        <li class="contact-list-item">
          <picture>
            <source
              srcset="./img/contact/contact-left-arrow-desk.png"
              media="(min-width: 1440px)"
              width="170"
              height="37" />
            <source
              srcset="./img/contact/contact-left-arrow-mob.png"
              width="69"
              height="31" />
            <img
              class="contact-arrow"
              src="./img/contact/contact-left-arrow-mob.png"
              alt="Arrow"
              width="69"
              height="31"
          /></picture>
          <div class="contact-item-text-wrapper">
            <p class="contact-item-text">Phone</p>
            <a class="contact-item-link" href="tel:+18005559876"
              >+1 (800) 555-9876</a
            >
          </div>
          <picture>
            <source
              srcset="./img/contact/contact-right-arrow-desk.png"
              media="(min-width: 1440px)"
              width="170"
              height="37" />
            <source
              srcset="./img/contact/contact-right-arrow-mob.png"
              width="69"
              height="31" />
            <img
              class="contact-arrow"
              src="./img/contact/contact-right-arrow-mob.png"
              alt="Arrow"
              width="69"
              height="31"
          /></picture>
        </li>
        <li class="contact-list-item">
          <picture>
            <source
              srcset="./img/contact/contact-left-arrow-desk.png"
              media="(min-width: 1440px)"
              width="170"
              height="37" />
            <source
              srcset="./img/contact/contact-left-arrow-mob.png"
              width="69"
              height="31" />
            <img
              class="contact-arrow"
              src="./img/contact/contact-left-arrow-mob.png"
              alt="Arrow"
              width="69"
              height="31"
          /></picture>
          <div class="contact-item-text-wrapper">
            <p class="contact-item-text">Live Chat</p>
            <a class="contact-item-link" href="">Available on the website</a>
          </div>
          <picture>
            <source
              srcset="./img/contact/contact-right-arrow-desk.png"
              media="(min-width: 1440px)"
              width="170"
              height="37" />
            <source
              srcset="./img/contact/contact-right-arrow-mob.png"
              width="69"
              height="31" />
            <img
              class="contact-arrow"
              src="./img/contact/contact-right-arrow-mob.png"
              alt="Arrow"
              width="69"
              height="31"
          /></picture>
        </li>
      </ul>
    </div>
  </div>
</section>
