<section class="faq-section section" id="faq">
  <div class="container faq-container">
    <div class="faq-section-wrapper">
      <div class="section-title-wrapper faq-title-wrapper">
        <picture>
          <source
            srcset="./img/common/title-arrow-desk.png"
            media="(min-width: 1440px)"
            width="37"
            height="86" />
          <source
            srcset="./img/common/title-arrow-mob.png"
            width="28"
            height="62" />
          <img
            class="section-title-arrow faq-title-arrow"
            src="./img/common/title-arrow-mob.png"
            alt="Arrow"
            width="28"
            height="62"
        /></picture>
        <div class="section-title-text-wrapper faq-title-text-wrapper">
          <h2 class="section-top-title faq-top-title">Frequently</h2>
          <h2 class="section-bottom-title faq-bottom-title">Asked Questions</h2>
        </div>
        <picture>
          <source
            srcset="./img/common/title-arrow-desk.png"
            media="(min-width: 1440px)"
            width="37"
            height="86" />
          <source
            srcset="./img/common/title-arrow-mob.png"
            width="28"
            height="62" />
          <img
            class="section-title-arrow faq-title-arrow"
            src="./img/common/title-arrow-mob.png"
            alt="Arrow"
            width="28"
            height="62"
        /></picture>
      </div>
      <p class="faq-top-text">
        Here are some of the most common questions from our community:
      </p>
      <div class="faq-swiper-container">
        <ul class="swiper-wrapper faq-swiper-wrapper">
          <li class="swiper-slide faq-list-item">
            <button class="faq-top-text-btn">
              <img
                class="faq-top-arrows"
                src="./img/faq/faq-top-arrows.png"
                alt="Arrow"
                width="151"
                height="32"
              />
              <p class="faq-btn-text">What is LogicVia Games?</p>
              <img
                class="faq-bottom-arrows"
                src="./img/faq/faq-bottom-arrows.png"
                alt="Arrow"
                width="217"
                height="47"
              />
            </button>
            <p class="faq-bottom-text">
              LogicVia Games is an independent game development company focused
              on creating innovative, immersive experiences for players
              worldwide.
            </p>
          </li>
          <li class="swiper-slide faq-list-item">
            <button class="faq-top-text-btn">
              <img
                class="faq-top-arrows"
                src="./img/faq/faq-top-arrows.png"
                alt="Arrow"
                width="151"
                height="32"
              />
              <p class="faq-btn-text">How can I contact support?</p>
              <img
                class="faq-bottom-arrows"
                src="./img/faq/faq-bottom-arrows.png"
                alt="Arrow"
                width="217"
                height="47"
              />
            </button>
            <p class="faq-bottom-text">
              You can reach our support team via email at support@logicvia.site.
            </p>
          </li>
          <li class="swiper-slide faq-list-item">
            <button class="faq-top-text-btn">
              <img
                class="faq-top-arrows"
                src="./img/faq/faq-top-arrows.png"
                alt="Arrow"
                width="151"
                height="32"
              />
              <p class="faq-btn-text">
                Are your games available on all platforms?
              </p>
              <img
                class="faq-bottom-arrows"
                src="./img/faq/faq-bottom-arrows.png"
                alt="Arrow"
                width="217"
                height="47"
              />
            </button>
            <p class="faq-bottom-text">
              We aim to release our games across multiple platforms, including
              PC, consoles, and mobile, depending on the game.
            </p>
          </li>
          <li class="swiper-slide faq-list-item">
            <button class="faq-top-text-btn">
              <img
                class="faq-top-arrows"
                src="./img/faq/faq-top-arrows.png"
                alt="Arrow"
                width="151"
                height="32"
              />
              <p class="faq-btn-text">Can I collaborate with LogicVia Games?</p>
              <img
                class="faq-bottom-arrows"
                src="./img/faq/faq-bottom-arrows.png"
                alt="Arrow"
                width="217"
                height="47"
              />
            </button>
            <p class="faq-bottom-text">
              We are always open to partnerships and collaborations. Please
              contact us at collaborations@logicvia.site for more information.
            </p>
          </li>
          <li class="swiper-slide faq-list-item">
            <button class="faq-top-text-btn">
              <img
                class="faq-top-arrows"
                src="./img/faq/faq-top-arrows.png"
                alt="Arrow"
                width="151"
                height="32"
              />
              <p class="faq-btn-text">
                How can I get involved in beta testing?
              </p>
              <img
                class="faq-bottom-arrows"
                src="./img/faq/faq-bottom-arrows.png"
                alt="Arrow"
                width="217"
                height="47"
              />
            </button>
            <p class="faq-bottom-text">
              Keep an eye on our website and social media channels for
              announcements about beta testing for our upcoming games.
            </p>
          </li>
        </ul>
      </div>
      <div class="dots">
        <div class="faq-dot active"></div>
        <div class="faq-dot"></div>
        <div class="faq-dot"></div>
        <div class="faq-dot"></div>
        <div class="faq-dot"></div>
      </div>
    </div>
  </div>
</section>
