<section class="faq-section section" id="faq">
  <div class="container faq-container">
    <div class="faq-section-wrapper">
      <div class="section-title-wrapper faq-title-wrapper">
        <picture>
          <source
            srcset="./img/common/title-arrow-desk.png"
            media="(min-width: 1440px)"
            width="37"
            height="86" />
          <source
            srcset="./img/common/title-arrow-mob.png"
            width="28"
            height="62" />
          <img
            class="section-title-arrow faq-title-arrow"
            src="./img/common/title-arrow-mob.png"
            alt="Arrow"
            width="28"
            height="62"
        /></picture>
        <div class="section-title-text-wrapper faq-title-text-wrapper">
          <h2 class="section-top-title faq-top-title">Our Cutting</h2>
          <h2 class="section-bottom-title faq-bottom-title">- Edge Tech</h2>
        </div>
        <picture>
          <source
            srcset="./img/common/title-arrow-desk.png"
            media="(min-width: 1440px)"
            width="37"
            height="86" />
          <source
            srcset="./img/common/title-arrow-mob.png"
            width="28"
            height="62" />
          <img
            class="section-title-arrow faq-title-arrow"
            src="./img/common/title-arrow-mob.png"
            alt="Arrow"
            width="28"
            height="62"
        /></picture>
      </div>
      <p class="faq-top-text">
        Our games are powered by the latest technology, ensuring that each title
        is as immersive and technically robust as possible.
      </p>
      <div class="faq-swiper-container">
        <ul class="swiper-wrapper faq-swiper-wrapper">
          <li class="swiper-slide faq-list-item">
            <button class="faq-top-text-btn">
              <img
                class="faq-top-arrows"
                src="./img/faq/faq-top-arrows.png"
                alt="Arrow"
                width="151"
                height="32"
              />
              <p class="faq-btn-text">What is LogicVia Games?</p>
              <img
                class="faq-bottom-arrows"
                src="./img/faq/faq-bottom-arrows.png"
                alt="Arrow"
                width="217"
                height="47"
              />
            </button>
            <p class="faq-bottom-text">
              LogicVia Games is an independent game development company focused
              on creating innovative, immersive experiences for players
              worldwide.
            </p>
          </li>
        </ul>
      </div>
      <div class="dots">
        <div class="faq-dot active"></div>
        <div class="faq-dot"></div>
        <div class="faq-dot"></div>
        <div class="faq-dot"></div>
        <div class="faq-dot"></div>
      </div>
    </div>
  </div>
</section>
