<section class="section faq-section" id="faq">
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <h2 class="section-title faq-title">Frequently Asked Questions</h2>
      <p class="faq-top-text">
        Here are answers to some of the most commonly asked questions:
      </p>
      <ul class="faq-list">
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >What platforms do you develop games for?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="16" height="16">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            We release games for PC, mobile, and consoles.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">How can I join the beta testing?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="16" height="16">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Follow us on social media or subscribe to our newsletter to stay
            updated on beta test invitations.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">How do I contact support?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="16" height="16">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            You can reach our support team at
            <a class="faq-link" href="mailto:support@clarado.space"
              >support@clarado.space</a
            >.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Are your games free?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="16" height="16">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Some games are free with optional in-game purchases, while others
            are paid.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
