<section class="features-section section" id="features">
  <div class="container features-container">
    <div class="features-section-wrapper">
      <div class="section-title-wrapper features-title-wrapper">
        <picture>
          <source
            srcset="./img/common/title-arrow-desk.png"
            media="(min-width: 1440px)"
            width="37"
            height="86" />
          <source
            srcset="./img/common/title-arrow-mob.png"
            width="28"
            height="62" />
          <img
            class="section-title-arrow features-title-arrow"
            src="./img/common/title-arrow-mob.png"
            alt="Arrow"
            width="28"
            height="62"
        /></picture>
        <div class="section-title-text-wrapper features-title-text-wrapper">
          <h2 class="section-top-title features-top-title">Our Cutting</h2>
          <h2 class="section-bottom-title features-bottom-title">
            - Edge Tech
          </h2>
        </div>
        <picture>
          <source
            srcset="./img/common/title-arrow-desk.png"
            media="(min-width: 1440px)"
            width="37"
            height="86" />
          <source
            srcset="./img/common/title-arrow-mob.png"
            width="28"
            height="62" />
          <img
            class="section-title-arrow features-title-arrow"
            src="./img/common/title-arrow-mob.png"
            alt="Arrow"
            width="28"
            height="62"
        /></picture>
      </div>
      <p class="features-top-text">
        Our games are powered by the latest technology, ensuring that each title
        is as immersive and technically robust as possible.
      </p>
      <div class="features-swiper-container">
        <ul class="swiper-wrapper features-swiper-wrapper">
          <li class="swiper-slide features-slide">
            <img
              class="features-arrows"
              src="./img/features/features-arrows.png"
              alt="Arrow"
              width="151"
              height="32"
            />
            <p class="features-slide-title">Unreal Engine 5</p>
            <p class="features-slide-text">
              For ultra-realistic 3D environments and real-time physics
              simulations.
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <img
              class="features-arrows"
              src="./img/features/features-arrows.png"
              alt="Arrow"
              width="151"
              height="32"
            />
            <p class="features-slide-title">Unity 2022 LTS</p>
            <p class="features-slide-text">
              Used for cross-platform builds and mobile development.
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <img
              class="features-arrows"
              src="./img/features/features-arrows.png"
              alt="Arrow"
              width="151"
              height="32"
            />
            <p class="features-slide-title">AI Systems</p>
            <p class="features-slide-text">
              Deep learning algorithms for NPC behavior and procedural content
              generation.
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <img
              class="features-arrows"
              src="./img/features/features-arrows.png"
              alt="Arrow"
              width="151"
              height="32"
            />
            <p class="features-slide-title">Cloud Integration</p>
            <p class="features-slide-text">
              For multiplayer features, player progression storage, and
              real-time data analysis.
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <img
              class="features-arrows"
              src="./img/features/features-arrows.png"
              alt="Arrow"
              width="151"
              height="32"
            />
            <p class="features-slide-title">Ray Tracing & Photorealism</p>
            <p class="features-slide-text">
              Advanced lighting and shading techniques for lifelike visuals.
            </p>
          </li>
        </ul>
      </div>
      <div class="dots">
        <div class="features-dot active"></div>
        <div class="features-dot"></div>
        <div class="features-dot"></div>
        <div class="features-dot"></div>
        <div class="features-dot"></div>
      </div>
    </div>
  </div>
</section>
