<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-title">
        Game Features That Make Clarado Stand Out
      </h2>
      <div class="features-content-wrapper">
        <p class="features-top-text">
          We believe that the best games are those that challenge the player and
          provide a rich, immersive experience. Here’s a breakdown of the unique
          features in our games:
        </p>
        <p class="games-subtitle">Key Features:</p>
        <ul class="features-list">
          <li class="features-list-item">
            <img
              class="features-img"
              src="./img/features/features-rock.png"
              alt="Rock"
              width="80"
              height="80"
              loading="lazy"
            />
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Dynamic Worlds:</p>
              <p class="features-item-text">
                Environments that evolve based on your actions and decisions.
              </p>
            </div>
          </li>
          <li class="features-list-item">
            <img
              class="features-img"
              src="./img/features/features-chess.png"
              alt="Chess"
              width="80"
              height="80"
              loading="lazy"
            />
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Customizable Characters:</p>
              <p class="features-item-text">
                Build your own hero and shape their abilities and backstory.
              </p>
            </div>
          </li>
          <li class="features-list-item">
            <img
              class="features-img"
              src="./img/features/features-checkmark.png"
              alt="Checkmark"
              width="80"
              height="80"
              loading="lazy"
            />
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Meaningful Choices:</p>
              <p class="features-item-text">
                Every decision has consequences that impact the game world.
              </p>
            </div>
          </li>
          <li class="features-list-item">
            <img
              class="features-img"
              src="./img/features/features-swords.png"
              alt="Swords"
              width="80"
              height="80"
              loading="lazy"
            />
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Challenging Combat:</p>
              <p class="features-item-text">
                Combat systems that require strategy, timing, and adaptation.
              </p>
            </div>
          </li>
          <li class="features-list-item">
            <img
              class="features-img"
              src="./img/features/features-people.png"
              alt="Swords"
              width="80"
              height="80"
              loading="lazy"
            />
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Cooperative Play:</p>
              <p class="features-item-text">
                Multiplayer modes where you can team up with friends to tackle
                quests.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
