<section class="games-section section" id="games">
  <div class="games-section-wrapper">
    <div class="container games-container">
      <h2 class="games-title section-title">Explore Our Titles</h2>
      <p class="games-top-text">
        Here are the worlds we've created and the adventures awaiting you. From
        action-packed explorations to role-playing quests, our games are
        designed to immerse you in unforgettable experiences.
      </p>
      <p class="games-subtitle">Featured Games:</p>
      <div class="games-swiper-container">
        <ul class="swiper-wrapper games-swiper-wrapper">
          <li class="swiper-slide games-slide">
            <div class="games-slide-img-wrapper">
              <picture>
                <source
                  srcset="./img/games/games-img1-desk.png"
                  media="(min-width: 1440px)"
                  width="326"
                  height="425" />
                <source
                  srcset="./img/games/games-img1-mob.png"
                  width="343"
                  height="479" />
                <img
                  class="games-img"
                  src="./img/games/games-img1-mob.png"
                  alt="Screenshot of the game"
                  width="343"
                  height="479"
                  loading="lazy"
              /></picture>
              <div class="games-slide-img-text-wrapper">
                <p class="games-slide-platform-text">PC</p>
                <p class="games-slide-title">Fictorum</p>
                <a
                  class="games-slide-link"
                  target="_blank"
                  href="https://www.fictorum.com"
                  rel="noopener noreferrer"
                  >Visit Fictorum Website</a
                >
              </div>
            </div>
            <div class="games-slide-text-wrapper">
              <p class="games-slide-features-text">Features:</p>
              <ul class="games-slide-features-list">
                <li class="games-features-item">
                  <p class="games-features-item-text">
                    Dynamic environments and destructible landscapes.
                  </p>
                </li>
                <li class="games-features-item">
                  <p class="games-features-item-text">
                    A deep spellcrafting system for customizing combat.
                  </p>
                </li>
                <li class="games-features-item">
                  <p class="games-features-item-text">
                    Engaging narrative where your choices shape the world.
                  </p>
                </li>
              </ul>
              <p class="games-slide-text">
                Fictorum is a story-driven action RPG that lets players use
                elemental magic to fight, solve puzzles, and explore a vast
                world. The game’s dynamic spell-casting system allows you to
                manipulate the environment, making every encounter feel unique.
              </p>
            </div>
          </li>
          <li class="swiper-slide games-slide">
            <div class="games-slide-img-wrapper">
              <picture>
                <source
                  srcset="./img/games/games-img2-desk.png"
                  media="(min-width: 1440px)"
                  width="326"
                  height="425" />
                <source
                  srcset="./img/games/games-img2-mob.png"
                  width="343"
                  height="479" />
                <img
                  class="games-img"
                  src="./img/games/games-img2-mob.png"
                  alt="Screenshot of the game"
                  width="343"
                  height="479"
                  loading="lazy"
              /></picture>
              <div class="games-slide-img-text-wrapper">
                <p class="games-slide-platform-text">iOS, Android</p>
                <p class="games-slide-title games-slide-aog-title">
                  Ash of Gods: The Way
                </p>
                <a
                  class="games-slide-link"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://play.google.com/store/apps/details?id=com.aurumdust.ashofgods.theway&hl=en&gl=us"
                  >Visit Ash of Gods: The Way on Google Play</a
                >
              </div>
            </div>
            <div class="games-slide-text-wrapper">
              <p class="games-slide-features-text">Features:</p>
              <ul class="games-slide-features-list">
                <li class="games-features-item">
                  <p class="games-features-item-text">
                    Deep turn-based combat mechanics.
                  </p>
                </li>
                <li class="games-features-item">
                  <p class="games-features-item-text">
                    Choices that affect the narrative, leading to multiple
                    endings.
                  </p>
                </li>
                <li class="games-features-item">
                  <p class="games-features-item-text">
                    Stunning hand-drawn art style.
                  </p>
                </li>
              </ul>
              <p class="games-slide-text">
                Ash of Gods: The Way offers turn-based tactical combat in a dark
                world. Players must navigate a world filled with danger, using
                strategic thinking and moral decisions to influence the outcome
                of the story.
              </p>
            </div>
          </li>
          <li class="swiper-slide games-slide">
            <div class="games-slide-img-wrapper">
              <picture>
                <source
                  srcset="./img/games/games-img3-desk.png"
                  media="(min-width: 1440px)"
                  width="326"
                  height="425" />
                <source
                  srcset="./img/games/games-img3-mob.png"
                  width="343"
                  height="479" />
                <img
                  class="games-img"
                  src="./img/games/games-img3-mob.png"
                  alt="Screenshot of the game"
                  width="343"
                  height="479"
                  loading="lazy"
              /></picture>
              <div class="games-slide-img-text-wrapper">
                <p class="games-slide-platform-text">PC</p>
                <p class="games-slide-title games-slide-moe-title">
                  Myth of Empires
                </p>
                <a
                  class="games-slide-link"
                  target="_blank"
                  href="https://mythofempires.com"
                  rel="noopener noreferrer"
                  >Visit Myth of Empires Website</a
                >
              </div>
            </div>
            <div class="games-slide-text-wrapper">
              <p class="games-slide-features-text">Features:</p>
              <ul class="games-slide-features-list">
                <li class="games-features-item">
                  <p class="games-features-item-text">
                    Large-scale battles with up to 300 players.
                  </p>
                </li>
                <li class="games-features-item">
                  <p class="games-features-item-text">
                    Crafting, resource management, and town building.
                  </p>
                </li>
                <li class="games-features-item">
                  <p class="games-features-item-text">
                    Strategic gameplay with politics and alliances.
                  </p>
                </li>
              </ul>
              <p class="games-slide-text">
                Myth of Empires is a massive multiplayer survival game that
                features vast open-world exploration, resource management, and
                strategic warfare. Engage in epic battles, build your empire,
                and survive in a dynamic world.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="dots">
        <div class="games-dot active"></div>
        <div class="games-dot"></div>
        <div class="games-dot"></div>
      </div>
      <div class="controls">
        <button
          class="arrow-btn"
          id="gamesLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <button class="arrow-btn" id="gamesRightArrow" aria-label="Next slide">
          <svg class="arrow-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
