<header class="header">
  <div class="header-bg-wrapper">
    <div class="container header-container">
      <nav class="nav">
        <div class="header-logo-wrapper">
          <a class="header-logo-link" href="./index.html"
            ><img
              src="./img/header/header-logo.png"
              alt="Logo"
              width="94"
              height="60"
          /></a>
          <img
            class="header-arrow"
            src="./img/header/header-arrow-desk.png"
            alt="Arrow"
            width="86"
            height="37"
          />
        </div>
        <div class="header-content-wrapper">
          <ul class="nav-list">
            <li class="nav-list-item">
              <a class="nav-list-link" href="./index.html#home">Hero Section</a>
            </li>
            <li class="nav-list-item">
              <a class="nav-list-link" href="./index.html#about"
                >About LogicVia Games</a
              >
            </li>
            <li class="nav-list-item">
              <a class="nav-list-link" href="./index.html#games">Our Games</a>
            </li>
            <li class="nav-list-item">
              <a class="nav-list-link" href="./index.html#process"
                >Game Development Process</a
              >
            </li>
            <li class="nav-list-item">
              <a class="nav-list-link" href="./index.html#features"
                >Technology Behind Our Games</a
              >
            </li>
            <li class="nav-list-item">
              <a class="nav-list-link" href="./index.html#team">Team Members</a>
            </li>
            <li class="nav-list-item">
              <a class="nav-list-link" href="./index.html#testimonials"
                >Testimonials</a
              >
            </li>
            <li class="nav-list-item">
              <a class="nav-list-link" href="./index.html#faq">FAQ</a>
            </li>
            <li class="nav-list-item">
              <a class="nav-list-link" href="./index.html#contact"
                >Contact Us</a
              >
            </li>
          </ul>
          <button class="nav-btn" type="button" aria-label="Open mobile menu">
            <svg class="menu-icon" width="37" height="47">
              <use href="./img/sprite.svg#icon-menu"></use>
            </svg>
          </button>
          <button
            class="close-btn"
            type="button"
            aria-label="Close mobile menu"
          >
            <svg class="close-icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-close"></use>
            </svg>
          </button>
        </div>
      </nav>
    </div>
  </div>
</header>
