<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <h1 class="hero-title">Embark on Legendary Journeys with Clarado</h1>
      <div class="hero-text-wrapper">
        <p class="hero-text">
          Welcome to Clarado, where we create games that transport you to vast,
          interactive worlds filled with rich stories, epic battles, and endless
          adventures. Our games are designed to offer players the chance to
          shape their destinies, forge meaningful connections, and dive into
          stories that will stay with them long after the game is over.
        </p>
        <a href="#contact" class="hero-link"
          >Explore our worlds. Become part of the legend</a
        >
      </div>
    </div>
  </div>
</section>
