<section class="section hero-section" id="home">
  <div class="container hero-container">
    <div class="hero-bg-wrapper">
      <div class="hero-title-wrapper">
        <img
          class="hero-title-arrow"
          src="./img/hero/hero-cta-arrow-desk.png"
          alt="Arrow"
          width="28"
          height="105"
        />
        <div class="hero-title-text-wrapper">
          <h1 class="hero-top-title">Welcome to LogicVia Games</h1>
          <h1 class="hero-bottom-title">
            <span class="hero-title-span">&nbsp;–&nbsp;</span>The Future of Play
          </h1>
        </div>
        <img
          class="hero-title-arrow"
          src="./img/hero/hero-cta-arrow-desk.png"
          alt="Arrow"
          width="28"
          height="105"
        />
      </div>
      <p class="hero-text">
        LogicVia Games is where creativity meets technology to craft
        unforgettable gaming experiences. From building complex narratives to
        developing groundbreaking gameplay systems, we create games that not
        only entertain but challenge the way you think about interactivity.
      </p>
      <div class="hero-cta-wrapper">
        <picture>
          <source
            srcset="./img/hero/hero-cta-arrow-desk.png"
            media="(min-width: 1440px)"
            width="37"
            height="86" />
          <source
            srcset="./img/hero/hero-cta-arrow-mob.png"
            width="28"
            height="105" />
          <img
            class="hero-arrow"
            src="./img/hero/hero-cta-arrow-mob.png"
            alt="Arrow"
            width="28"
            height="105"
        /></picture>
        <div class="hero-cta-text-wrapper">
          <p class="hero-cta-top-text">
            Start Your <span class="hero-cta-top-text-span">Adventure</span>
          </p>
          <p class="hero-cta-bottom-text">
            <span class="hero-cta-bottom-text-span">Adventure</span> With Us
          </p>
        </div>
        <picture>
          <source
            srcset="./img/hero/hero-cta-arrow-desk.png"
            media="(min-width: 1440px)"
            width="37"
            height="86" />
          <source
            srcset="./img/hero/hero-cta-arrow-mob.png"
            width="28"
            height="105" />
          <img
            class="hero-arrow"
            src="./img/hero/hero-cta-arrow-mob.png"
            alt="Arrow"
            width="28"
            height="105"
        /></picture>
      </div>
    </div>
  </div>
</section>
