<section class="section partners-section" id="partners">
  <div class="partners-bg-wrapper">
    <div class="container partners-container">
      <h2 class="section-title partners-title">Our Trusted Partners</h2>
      <p class="partners-top-text">
        We work with a variety of partners to bring our games to life, from game
        artists to technology providers. These collaborations help us push the
        boundaries of game design.
      </p>
      <p class="partners-subtitle">Our Key Partners</p>
      <ul class="partners-list">
        <li class="partners-list-item">
          <p class="partners-item-title">Rust LTD</p>
          <a
            href="https://rustltd.com"
            target="_blank"
            rel="noopener noreferrer"
            class="partners-itm-link"
            >Visit Rust LTD</a
          >
          <p class="partners-item-text">
            Game technology experts that help us optimize game performance
          </p>
        </li>
        <li class="partners-list-item">
          <p class="partners-item-title">Monomi Park</p>
          <a
            href="https://monomipark.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="partners-itm-link"
            >Visit Monomi Park</a
          >
          <p class="partners-item-text">
            Creators of the Slime Rancher franchise, helping us design engaging
            and playful worlds.
          </p>
        </li>
        <li class="partners-list-item">
          <p class="partners-item-title">Warbits</p>
          <a
            href="https://warbits.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="partners-itm-link"
            >Visit Warbits</a
          >
          <p class="partners-item-text">
            A game studio specializing in strategic games that inspire our
            tactical gameplay mechanics.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
