<section class="process-section section" id="process">
  <div class="container process-container">
    <div class="process-section-wrapper">
      <div class="section-title-wrapper process-title-wrapper">
        <picture>
          <source
            srcset="./img/common/title-arrow-desk.png"
            media="(min-width: 1440px)"
            width="37"
            height="86" />
          <source
            srcset="./img/common/title-arrow-mob.png"
            width="28"
            height="62" />
          <img
            class="section-title-arrow process-title-arrow"
            src="./img/common/title-arrow-mob.png"
            alt="Arrow"
            width="28"
            height="62"
        /></picture>
        <div class="section-title-text-wrapper process-title-text-wrapper">
          <h2 class="section-top-title process-top-title">Our Development</h2>
          <h2 class="section-bottom-title process-bottom-title">Process</h2>
        </div>
        <picture>
          <source
            srcset="./img/common/title-arrow-desk.png"
            media="(min-width: 1440px)"
            width="37"
            height="86" />
          <source
            srcset="./img/common/title-arrow-mob.png"
            width="28"
            height="62" />
          <img
            class="section-title-arrow process-title-arrow"
            src="./img/common/title-arrow-mob.png"
            alt="Arrow"
            width="28"
            height="62"
        /></picture>
      </div>
      <p class="process-top-text">
        Every game we create follows a carefully crafted process, ensuring that
        it meets our high standards of quality, engagement, and innovation.
        Here’s how we build our games:
      </p>
      <div class="process-swiper-container">
        <ul class="swiper-wrapper process-swiper-wrapper">
          <li class="swiper-slide process-slide">
            <img
              class="process-top-arrows"
              src="./img/process/process-top-arrows.png"
              alt="Arrow"
              width="217"
              height="25"
            />
            <p class="process-slide-title">Concept & Idea Generation</p>
            <img
              class="process-bottom-arrows"
              src="./img/process/process-bottom-arrows.png"
              alt="Arrow"
              width="217"
              height="47"
            />
            <p class="process-slide-text">
              Every game begins with a spark. We explore unique ideas that push
              the boundaries of gaming, taking inspiration from all forms of
              art, technology, and storytelling.
            </p>
          </li>
          <li class="swiper-slide process-slide">
            <img
              class="process-top-arrows"
              src="./img/process/process-top-arrows.png"
              alt="Arrow"
              width="217"
              height="25"
            />
            <p class="process-slide-title">Pre-Production</p>
            <img
              class="process-bottom-arrows"
              src="./img/process/process-bottom-arrows.png"
              alt="Arrow"
              width="217"
              height="47"
            />
            <p class="process-slide-text">
              Once the idea is set, we begin designing mechanics, environments,
              and characters. Early prototypes are tested to ensure that
              gameplay feels fresh and fun.
            </p>
          </li>
          <li class="swiper-slide process-slide">
            <img
              class="process-top-arrows"
              src="./img/process/process-top-arrows.png"
              alt="Arrow"
              width="217"
              height="25"
            />
            <p class="process-slide-title">Development & Production</p>
            <img
              class="process-bottom-arrows"
              src="./img/process/process-bottom-arrows.png"
              alt="Arrow"
              width="217"
              height="47"
            />
            <p class="process-slide-text">
              We use state-of-the-art tools and engines like Unreal Engine and
              Unity to build the world, characters, and systems. Our coders,
              artists, and designers collaborate closely to ensure that every
              aspect of the game is seamless.
            </p>
          </li>
          <li class="swiper-slide process-slide">
            <img
              class="process-top-arrows"
              src="./img/process/process-top-arrows.png"
              alt="Arrow"
              width="217"
              height="25"
            />
            <p class="process-slide-title">Testing & Polishing</p>
            <img
              class="process-bottom-arrows"
              src="./img/process/process-bottom-arrows.png"
              alt="Arrow"
              width="217"
              height="47"
            />
            <p class="process-slide-text">
              After the main development phase, we go through rounds of testing
              to fine-tune mechanics, fix bugs, and optimize performance. We
              also focus heavily on user experience (UX) testing to ensure that
              the game is intuitive and enjoyable.
            </p>
          </li>
          <li class="swiper-slide process-slide">
            <img
              class="process-top-arrows"
              src="./img/process/process-top-arrows.png"
              alt="Arrow"
              width="217"
              height="25"
            />
            <p class="process-slide-title">Launch & Support</p>
            <img
              class="process-bottom-arrows"
              src="./img/process/process-bottom-arrows.png"
              alt="Arrow"
              width="217"
              height="47"
            />
            <p class="process-slide-text">
              Once launched, we continue to provide post-release support with
              updates, bug fixes, and new content. We also actively listen to
              player feedback to improve future versions of the game.
            </p>
          </li>
        </ul>
      </div>
      <div class="controls">
        <button
          class="arrow-btn"
          id="processLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="24" height="40">
            <use href="./img/sprite.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <button
          class="arrow-btn"
          id="processRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="24" height="40">
            <use href="./img/sprite.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
      <div class="dots process-dots"></div>
    </div>
  </div>
</section>
