<section class="team-section section" id="team">
  <div class="container team-container">
    <div class="team-section-wrapper">
      <div class="section-title-wrapper team-title-wrapper">
        <picture>
          <source
            srcset="./img/common/title-arrow-desk.png"
            media="(min-width: 1440px)"
            width="37"
            height="86" />
          <source
            srcset="./img/common/title-arrow-mob.png"
            width="28"
            height="62" />
          <img
            class="section-title-arrow team-title-arrow"
            src="./img/common/title-arrow-mob.png"
            alt="Arrow"
            width="28"
            height="62"
        /></picture>
        <div class="section-title-text-wrapper team-title-text-wrapper">
          <h2 class="section-top-title team-top-title">Meet the Game</h2>
          <h2 class="section-bottom-title team-bottom-title">Makers</h2>
        </div>
        <picture>
          <source
            srcset="./img/common/title-arrow-desk.png"
            media="(min-width: 1440px)"
            width="37"
            height="86" />
          <source
            srcset="./img/common/title-arrow-mob.png"
            width="28"
            height="62" />
          <img
            class="section-title-arrow team-title-arrow"
            src="./img/common/title-arrow-mob.png"
            alt="Arrow"
            width="28"
            height="62"
        /></picture>
      </div>
      <p class="team-top-text">
        Our team is a group of passionate professionals with expertise in every
        area of game development. From story crafting to system architecture, we
        bring diverse skills to create games that stand out in the industry.
      </p>
      <div class="team-swiper-container">
        <ul class="swiper-wrapper team-swiper-wrapper">
          <li class="swiper-slide team-slide">
            <picture>
              <source
                srcset="./img/team/team-john-desk.png"
                media="(min-width: 1440px)"
                width="255"
                height="243" />
              <source
                srcset="./img/team/team-john-mob.png"
                width="210"
                height="201" />
              <img
                class="team-avatar-img"
                src="./img/team/team-john-mob.png"
                alt="Avatar"
                width="210"
                height="201"
            /></picture>
            <div class="team-slide-text-wrapper">
              <div class="team-slide-title-wrapper">
                <p class="team-slide-top-title">John Steele</p>
                <p class="team-slide-bottom-title">Founder & CEO</p>
              </div>
              <p class="team-slide-text">
                Former AAA game designer with a passion for innovative mechanics
                and storytelling. He ensures the vision of every game is aligned
                with our creative goals.
              </p>
            </div>
          </li>
          <li class="swiper-slide team-slide">
            <picture>
              <source
                srcset="./img/team/team-mark-desk.png"
                media="(min-width: 1440px)"
                width="255"
                height="243" />
              <source
                srcset="./img/team/team-mark-mob.png"
                width="210"
                height="201" />
              <img
                class="team-avatar-img"
                src="./img/team/team-mark-mob.png"
                alt="Avatar"
                width="210"
                height="201"
            /></picture>
            <div class="team-slide-text-wrapper">
              <div class="team-slide-title-wrapper">
                <p class="team-slide-top-title">Mark Evans</p>
                <p class="team-slide-bottom-title">Technical Director</p>
              </div>
              <p class="team-slide-text">
                A coding wizard with expertise in optimizing complex systems for
                cross-platform performance. He leads the development team and
                ensures the technical integrity of each game.
              </p>
            </div>
          </li>
          <li class="swiper-slide team-slide">
            <picture>
              <source
                srcset="./img/team/team-alice-desk.png"
                media="(min-width: 1440px)"
                width="255"
                height="243" />
              <source
                srcset="./img/team/team-alice-mob.png"
                width="210"
                height="201" />
              <img
                class="team-avatar-img"
                src="./img/team/team-alice-mob.png"
                alt="Avatar"
                width="210"
                height="201"
            /></picture>
            <div class="team-slide-text-wrapper">
              <div class="team-slide-title-wrapper">
                <p class="team-slide-top-title">Alice Monroe</p>
                <p class="team-slide-bottom-title">Lead Designer</p>
              </div>
              <p class="team-slide-text">
                Former AAA game designer with a passion for innovative mechanics
                and storytelling. She ensures the vision of every game is
                aligned with our creative goals.
              </p>
            </div>
          </li>
          <li class="swiper-slide team-slide">
            <picture>
              <source
                srcset="./img/team/team-sarah-desk.png"
                media="(min-width: 1440px)"
                width="255"
                height="243" />
              <source
                srcset="./img/team/team-sarah-mob.png"
                width="210"
                height="201" />
              <img
                class="team-avatar-img"
                src="./img/team/team-sarah-mob.png"
                alt="Avatar"
                width="210"
                height="201"
            /></picture>
            <div class="team-slide-text-wrapper">
              <div class="team-slide-title-wrapper">
                <p class="team-slide-top-title">Sarah T. Lee</p>
                <p class="team-slide-bottom-title">Narrative Director</p>
              </div>
              <p class="team-slide-text">
                Crafts intricate and immersive storylines, creating worlds that
                feel alive. Her background in literature and film informs her
                storytelling techniques in gaming.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="dots">
        <div class="team-dot active"></div>
        <div class="team-dot"></div>
        <div class="team-dot"></div>
        <div class="team-dot"></div>
      </div>
    </div>
  </div>
</section>
