<section class="testimonials-section section" id="testimonials">
  <div class="testimonials-section-wrapper">
    <div class="container testimonials-container">
      <h2 class="testimonials-title section-title">
        What Our Players Are Saying
      </h2>
      <p class="testimonials-top-text">
        Here’s what players have to say about our games:
      </p>
      <ul class="testimonials-list">
        <li class="testimonials-list-item">
          <picture>
            <source
              srcset="./img/testimonials/testimonials-james-desk.png"
              media="(min-width: 1440px)"
              width="334"
              height="251" />
            <source
              srcset="./img/testimonials/testimonials-james-mob.png"
              width="343"
              height="250" />
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-james-mob.png"
              alt="Testimonial"
              width="343"
              height="250"
              loading="lazy"
          /></picture>
        </li>
        <li class="testimonials-list-item">
          <picture>
            <source
              srcset="./img/testimonials/testimonials-anna-desk.png"
              media="(min-width: 1440px)"
              width="334"
              height="251" />
            <source
              srcset="./img/testimonials/testimonials-anna-mob.png"
              width="343"
              height="250" />
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-anna-mob.png"
              alt="Testimonial"
              width="343"
              height="250"
              loading="lazy"
          /></picture>
        </li>
      </ul>
    </div>
  </div>
</section>
