<section class="testimonials-section section" id="testimonials">
  <div class="container testimonials-container">
    <div class="testimonials-section-wrapper">
      <div class="section-title-wrapper testimonials-title-wrapper">
        <picture>
          <source
            srcset="./img/common/title-arrow-desk.png"
            media="(min-width: 1440px)"
            width="37"
            height="86" />
          <source
            srcset="./img/common/title-arrow-mob.png"
            width="28"
            height="62" />
          <img
            class="section-title-arrow testimonials-title-arrow"
            src="./img/common/title-arrow-mob.png"
            alt="Arrow"
            width="28"
            height="62"
        /></picture>
        <div class="section-title-text-wrapper testimonials-title-text-wrapper">
          <h2 class="section-top-title testimonials-top-title">What Players</h2>
          <h2 class="section-bottom-title testimonials-bottom-title">
            Are Saying
          </h2>
        </div>
        <picture>
          <source
            srcset="./img/common/title-arrow-desk.png"
            media="(min-width: 1440px)"
            width="37"
            height="86" />
          <source
            srcset="./img/common/title-arrow-mob.png"
            width="28"
            height="62" />
          <img
            class="section-title-arrow testimonials-title-arrow"
            src="./img/common/title-arrow-mob.png"
            alt="Arrow"
            width="28"
            height="62"
        /></picture>
      </div>
      <p class="testimonials-top-text">
        Here’s what players are saying about our games:
      </p>
      <div class="testimonials-swiper-container">
        <ul class="swiper-wrapper testimonials-swiper-wrapper">
          <li class="swiper-slide testimonials-slide">
            <picture>
              <source
                srcset="./img/testimonials/testimonials-matt-desk.png"
                media="(min-width: 1440px)"
                width="79"
                height="76" />
              <source
                srcset="./img/testimonials/testimonials-matt-mob.png"
                width="79"
                height="75" />
              <img
                class="testimonials-avatar-img"
                src="./img/testimonials/testimonials-matt-mob.png"
                alt="Avatar"
                width="79"
                height="75"
            /></picture>
            <div class="testimonials-slide-text-wrapper">
              <div class="testimonials-slide-title-wrapper">
                <p class="testimonials-slide-top-title">Matt K.</p>
                <p class="testimonials-slide-bottom-title">Game Reviewer</p>
              </div>
              <p class="testimonials-slide-text">
                "Eclipse Protocol’s deep strategy mechanics and narrative-driven
                missions had me hooked from the start. It’s one of the most
                engaging tactical RPGs I’ve played in years."
              </p>
            </div>
          </li>
          <li class="swiper-slide testimonials-slide">
            <picture>
              <source
                srcset="./img/testimonials/testimonials-jake-desk.png"
                media="(min-width: 1440px)"
                width="79"
                height="76" />
              <source
                srcset="./img/testimonials/testimonials-jake-mob.png"
                width="79"
                height="75" />
              <img
                class="testimonials-avatar-img"
                src="./img/testimonials/testimonials-jake-mob.png"
                alt="Avatar"
                width="79"
                height="75"
            /></picture>
            <div class="testimonials-slide-text-wrapper">
              <div class="testimonials-slide-title-wrapper">
                <p class="testimonials-slide-top-title">Jake D.</p>
                <p class="testimonials-slide-bottom-title">Player</p>
              </div>
              <p class="testimonials-slide-text">
                "I’ve never seen time manipulation done so well. Chrono Rift is
                a masterpiece in puzzle design, combining action with deep
                gameplay mechanics."
              </p>
            </div>
          </li>
          <li class="swiper-slide testimonials-slide">
            <picture>
              <source
                srcset="./img/testimonials/testimonials-rachel-desk.png"
                media="(min-width: 1440px)"
                width="79"
                height="76" />
              <source
                srcset="./img/testimonials/testimonials-rachel-mob.png"
                width="79"
                height="75" />
              <img
                class="testimonials-avatar-img"
                src="./img/testimonials/testimonials-rachel-mob.png"
                alt="Avatar"
                width="79"
                height="75"
            /></picture>
            <div class="testimonials-slide-text-wrapper">
              <div class="testimonials-slide-title-wrapper">
                <p class="testimonials-slide-top-title">Rachel L.</p>
                <p class="testimonials-slide-bottom-title">Game Designer</p>
              </div>
              <p class="testimonials-slide-text">
                "The dynamic procedural worlds in Voidscape made every session
                feel fresh and unpredictable. The attention to detail is
                incredible, especially the space combat."
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="dots">
        <div class="testimonials-dot active"></div>
        <div class="testimonials-dot"></div>
        <div class="testimonials-dot"></div>
      </div>
    </div>
  </div>
</section>
